<main>
  <div class="cc-grid-header">
    <sort-modal (sortingMethod)="notifyNewSorting($event)"></sort-modal>
  </div>
  <div class="cc-card-container" *ngIf="dataLoaded | async">    
    <cc-card *ngFor="let userGroup of userGroupList" [groupData]="userGroup">
      <span>{{ userGroup.title }}</span>
      <span>{{ userGroup.url }}</span>
    </cc-card>  
    <h2>Hall of fame</h2>
    <div class="hall-of-fame-container">
      <cc-fame-card *ngFor="let team of mostExperiencedTeams" [fameData]="team">
      </cc-fame-card>  
    </div>
    <!-- <div class="user-container">
      <cc-user-card [userData]="userToLearn">
      </cc-user-card>  
    </div> -->
  </div>
</main>